/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="year"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #333;
    color: white;
}

.action-buttons a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    margin-right: 5px;
}

.action-buttons .edit {
    background-color: #4CAF50;
}

.action-buttons .delete {
    background-color: #f44336;
}

.action-buttons .view {
    background-color: #2196F3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Styling for select dropdown to match input fields */
select {
     /* Removes default styling in some browsers */
/*    appearance: none;*/
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
}

select::-ms-expand {
    display: none; /* Removes default arrow in IE */
}
nav {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    color: #007BFF;
}
